{% extends "clustof/base.html" %}

{% block content %}
    <script>
      function saveJournalEntry() {
        var dataURL = document.getElementById('writtenNotesDiv').toDataURL("image/png");
        document.getElementById('id_written_notes').value = dataURL;
        document.getElementById("newjournalentryform").submit();
      }
    </script>
    <form enctype="multipart/form-data" method="post" id="newjournalentryform">
      <table>
      {% for field in form.visible_fields %}
        <tr>
        <td>
         <strong>{{ field.label_tag }}</strong>
        </td>
        <td>{{ field }}</td>
        <td>{% if field.errors %}{{ field.errors }}{% endif %}
        </td>
        </tr>
      {% endfor %}
        <tr>
        <td>
         <strong>Draw something</strong>
        </td>
        <td>
            {{ form.written_notes }}
            <div id="writtenNotesDiv"></div>
            <style>
                #writtenNotesDiv {
                    width: 800px;
                    height: 400px;
                }
            </style>
            <script>
                var writtenNotesBoard = new DrawingBoard.Board('writtenNotesDiv');
                function saveJournalEntry() {
                  var dataURL = document.getElementsByTagName("canvas")[0].toDataURL("image/png");
                  document.getElementById('id_written_notes').value = dataURL;
                  document.getElementById("newjournalentryform").submit();
                }
            </script>
        </td>
        <td>{% if field.errors %}{{ field.errors }}{% endif %}
        </td>
        </tr>
      </table>
     {% csrf_token %}
     <input value = "Save Journal Entry" onclick = "saveJournalEntry();" type = "button">
    </form>
{% endblock %}
