{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container mb-4 mt-4">

        <h4 class="border-bottom mb-4">
            Upload a measurement to <a href="https://ideadb.uibk.ac.at/mscp" target="_blank">MSCP <i
            class="small bi bi-box-arrow-up-right"></i></a>
        </h4>

        {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}

        <form method="post" action="{% url 'mscpimporter-start' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
                If the token does not work, go to
                <a href="{{ root_url }}api-token-show/"
                   target="_blank">
                    {{ root_url }}api-token-show/
                </a>
            </p>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block extra_js %}
{% endblock %}