<!DOCTYPE html>
<html lang="en">
<head>
    <title>SURFTOF Labbook</title>
    <link rel="stylesheet" href="http://ideadb.uibk.ac.at/files/css/drawingboard.min.css">
    {% include "jscss.html" %}
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/jquery.flot.navigate.js"></script>
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/drawingboard.min.js"></script>
</head>

<body>
    <div id="Header">SURFTOF Labbook</div>
    <div id="Menu">
        {% block sidebar %}
        <ul>
            <li><a href="/surftof/">Home</a></li>
            <li><a href="/admin/surftof/">Admin</a></li>
            <li><a href="/surftof/view/">Measurements</a></li>
            <li><a href="/surftof/insight/">Insights</a></li>
            <li><a href="/surftof/journal/">Technical Journal</a></li>
            <li><a href="/surftof/pumps/">Turbopumps</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="Content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
