{% extends "surftof/base.html" %}
{% load crispy_forms_tags %}

{% block title %}- Counts per Mass{% endblock %}

{% block extra_head %}
    <style>
        h5 {
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <form method="post" class="mt-4">

            <button type="submit" class="btn btn-primary">Create and Download</button>
            <p><small>Please note, that the calculation will take some time!</small></p>

            {% csrf_token %}

            <h5>Measurement IDs*</h5>
            {{ form.id_list|as_crispy_field }}

            <h5>Current Normalization*</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.current_normalization|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.current_normalization_value|as_crispy_field }}
                </div>
            </div>

            <h5>1. Mass Peak*</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_1_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_1_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_1_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_1_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_1_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>2. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_2_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_2_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_2_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_2_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_2_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>3. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_3_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_3_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_3_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_3_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_3_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>4. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_4_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_4_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_4_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_4_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_4_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>5. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_5_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_5_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_5_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_5_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_5_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>6. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_6_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_6_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_6_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_6_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_6_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>7. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_7_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_7_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_7_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_7_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_7_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>8. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_8_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_8_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_8_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_8_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_8_zero_max|as_crispy_field }}
                </div>
            </div>

            <h5>9. Mass Peak</h5>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_9_mass_nominal|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_9_mass_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_9_mass_max|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.mass_9_zero_min|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.mass_9_zero_max|as_crispy_field }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create and Download</button>
            <p><small>Please note, that the calculation will take some time!</small></p>
        </form>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-deparam@0.5.3/jquery-deparam.min.js"></script>
    <script>
        $(function () {
            let inputs = deparam(Cookies.get('surftofCpmInputs'));
            $.each(inputs, function (key, value) {
                $("#id_" + key).val(value);
            });

            $('input').change(function () {
                inputs[$(this).attr('name')] = $(this).val()
                Cookies.set('surftofCpmInputs', $.param(inputs));
            })
        })
    </script>
{% endblock %}