{% extends 'surftof/base.html' %}
{% load static markdown %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-auto">
                <div class="input-group btn-group mx-auto">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>+</strong></span>
                    </div>
                    <a href="{% url 'experiment1-journal-entry-add' %}" class="btn btn-secondary">Journal Entry</a>
                    <a href="{% url 'experiment1-measurement-add' %}" class="btn btn-secondary">Measurement</a>
                </div>
            </div>
        </div>
        <div class="journal">
            <h3 class="border-bottom">{{ month }}</h3>
            {% for entry in entries %}
                <div
                    class="mb-4 d-flex flex-row{% if entry.t == 'measurement' %}-reverse{% endif %} align-items-center">
                    <div class="card">
                        <div class="card-header">
                            ID {{ entry.e.id }}: {{ entry.e.short_description }}
                            <span
                                {% if entry.t == 'measurement' %}
                                    class="ml-2 float-right"
                                {% else %}
                                    class="mr-2 float-left"
                                {% endif %}
                            >
                                <a
                                    {% if entry.t == 'measurement' %}
                                        href="{% url 'admin:experiment1_measurement_change' entry.e.id %}"
                                    {% else %}
                                        href="{% url 'admin:experiment1_journalentry_change' entry.e.id %}"
                                    {% endif %}
                                >
                                    <img src="{% static "img/edit.png" %}" width="20" height="20">
                                </a>
                            </span>
                        </div>
                        <div class="card-body pb-1">
                            {% if entry.t == 'measurement' %}
                                <div class="text-right">
                                    <a href="{% url 'experiment1-mass-spectra' %}?id={{ entry.e.id }}">
                                        <img src="{% url 'experiment1-mass-spec-preview-image'  entry.e.id %}"
                                             class="img-thumbnail float-right mb-2 ml-2">
                                    </a>
                                </div>
                            {% else %}

                            {% endif %}

                            {% if entry.e.operator %}
                                <p>Operator: {{ entry.e.operator }}</p>
                            {% endif %}

                            {% if entry.e.gas %}
                                <p>
                                    Gas: {{ entry.e.gas }}
                                    {% if entry.e.gas_pressure %}
                                        @ {{ entry.e.gas_pressure|stringformat:".1e" }} mbar</p>
                                    {% endif %}
                                </p>
                            {% endif %}

                            {% if entry.e.electron_impact_energy %}
                                <p>Ionization energy: {{ entry.e.electron_impact_energy }} eV</p>
                            {% endif %}


                            <hr>

                            {% if entry.e.comment %}
                                <p class="md-content">{{ entry.e.comment }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="px-3">{{ entry.e.time }}</div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extrahead %}
    <style>
        .journal .card {
            max-width: 75%;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="  https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script>
      $(function () {
        $('.md-content').each(function (val) {
          console.log(this.text())
        })
      })

    </script>
{% endblock %}
