<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        SURFTOF
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a class="dropdown-item" href="{% url "surftof-journal" %}">Journal</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url "surftof-mass-spectra" %}">Mass Specs</a>
        </li>

        <div class="dropdown-divider"></div>

        <li>
            <a class="dropdown-item" href="{% url "surftof-surface-temperature" %}">Surface Temperature</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url "surftof-pressures" %}">Pressures</a>
        </li>

        <div class="dropdown-divider"></div>

        <li>
            <a class="dropdown-item" href="{% url 'surftof-table-data' 'Measurement' %}">Table: Measurements</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'surftof-table-data' 'PotentialSettings' %}">Table: Potentials</a>
        </li>

        <div class="dropdown-divider"></div>
        <li>
            <a class="dropdown-item" href="{% url 'admin:surftof_measurement_changelist' %}">Admin: Measurements</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'admin:surftof_potentialsettings_changelist' %}">Admin: Potentials</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'admin:app_list' 'surftof' %}">Admin: SurfTOF</a>
        </li>

    </ul>
</li>
