{% extends "surftof/base.html" %}

{% block title %}- Preview Data{% endblock %}

{% block extra_head %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
    <style>
        .modal-body {
            min-height: 300px;
        }

        #loading {
            display: none;
            position: absolute;
            top: 20%;
            left: 50%;
            width: 64px;
            height: 64px;
            background-color: rgba(255, 255, 255, 0.5);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        #modal-ready-loading {
            color: green;
        }

        #inputScaleFile2 {
            margin-top: 15px;
        }

        .form-control {
            min-width: 80px;
        }

        #loading div {
            margin: 20px;
        }

        .card {
            margin-top: 10px;
        }

        input {
            min-width: 50px;
        }

        .card-header {
            padding: 5px 15px;
            height: 38px;
        }

        .card-header .btn {
            padding: 1px 7px;
        }

        .list-group-item {
            padding: 3px 10px;
        }

        #graphdiv {
            width: 100%;
            height: 500px;
            margin: 20px 0;
        }

        #tree img {
            width: 22px;
            height: 22px;
        }

        .btn-group {
            margin-bottom: 20px;
        }

        .dygraph-legend {
            left: 70px !important;
            background-color: transparent !important;
            width: 100%;
            font-size: large;
        }

        .f1f2button {
            -ms-flex: 0 0 130px;
            flex: 0 0 130px;
        }

        .f1f2button .btn-group {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .ids-body {
            max-height: 400px;
            overflow-y: scroll;
        }

        .plot-indicator {
            height: 18px;
            width: 50px;
            display: inline-block;
            margin-left: 15px;
            position: relative;
            top: 3px;
        }

        .plot-indicator-blue {
            background-color: #000080;
        }

        .plot-indicator-green {
            background-color: #018001;
        }

        #setTracesMinMax {
            width: 24px;
            position: relative;
            top: 6px;
            cursor: pointer;
        }

        .active-input {
            border-color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-xl-10 col-md-8">
                <div id="graphdiv"></div>
            </div>
            <div class="col-lg-3 col-xl-2 col-md-4">
                <div class="card">
                    <div class="card-header">General</div>
                    <div class="card-body">

                        <h5># Files</h5>
                        <div class="btn-group btn-block" role="group">
                            <button type="button" class="btn btn-secondary active" id="plot1File">1</button>
                            <button type="button" class="btn btn-secondary" id="plot2Files">2</button>
                            <button type="button" class="btn btn-secondary" id="plotDiff">Diff</button>
                        </div>

                        <h5>x-Axis</h5>
                        <button type="button" class="btn btn-secondary btn-block" id="button-time-mass">
                            time-bin or mass/z
                        </button>

                        <h5>y-Axis</h5>
                        <button type="button" class="btn btn-secondary btn-block" id="button-lin-log-plot">
                            lin / log
                        </button>

                        <div class="form-group form-row">
                            <label for="inputScaleFile2" class="col col-form-label">Scale Intensity of File 2:</label>
                            <div class="col">
                                <input type="number" step="0.01" class="form-control" id="inputScaleFile2" value="1">
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <label for="inputBinning" class="col col-form-label">Binning:</label>
                            <div class="col">
                                <input type="number" step="1" class="form-control" id="inputBinning" value="8">
                            </div>
                        </div>

                        <button class="btn btn-block btn-secondary" id="button-traces-counts" type="button">
                            Get traces
                        </button>

                        <button type="button" class="btn btn-block btn-secondary" id="button-download-plot">
                            Download plot as csv
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col" id="col-card-traces-counts" style="display: none">
                <div class="card">
                    <div class="card-header">Traces</div>
                    <div class="card-body">
                        <div class="form-group form-row">
                            <div class="col">
                                <label for="inputMassMin" class="col col-form-label sr-only">Mass min</label>
                                <input type="number" step="0.01" class="form-control" id="inputMassMin"
                                       placeholder="Mass min">
                            </div>
                            <div class="col">
                                <label for="inputMassMax" class="col col-form-label sr-only">Mass max</label>
                                <input type="number" step="0.01" class="form-control" id="inputMassMax"
                                       placeholder="Mass max">
                            </div>
                            <div class="col-auto">
                                <img alt="pointer" id="setTracesMinMax" src="/staticfiles/surftof/pointer.png">
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" id="button-create-trace">get
                            trace
                        </button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">File 1: Info<span class="plot-indicator plot-indicator-green"
                                                               style="display: none"></span></div>
                    <div class="card-body" id="fileInfoBody1"></div>
                </div>
            </div>
            <div class="col" id="col-card-file2-info" style="display: none">
                <div class="card">
                    <div class="card-header">File 2: Info<span class="plot-indicator plot-indicator-blue"></span>
                    </div>
                    <div class="card-body" id="fileInfoBody2"></div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Measurements
                        <button type="button" class="btn btn-sm btn-outline-dark" onclick="getDataList();">reload
                        </button>
                    </div>
                    <div class="card-body ids-body">
                        <div id="tree1">
                            <ul class="list-group">
                                {% for measurement in measurements %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col">{{ measurement.name|safe }}</div>
                                            <div class="col f1f2button">
                                                <div class="btn-group btn-block" role="group">
                                                    <button type="button" class="btn btn-secondary"
                                                            onclick="setFileId('Y1', {{ measurement.id }})">Y1
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            onclick="setFileId('Y2', {{ measurement.id }})">Y2
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                <li class="list-group-item">Loading more...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="detailModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Maybe this will take some time. Therefore
                        you get a cartoon :-) <span id="modal-ready-loading"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="button-hide-xkcd" onclick="hideXkcd()">
                        Never ever show me this shit again
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    <script>
        let dataIdFile1 = null;
        let dataIdFile2 = null;
        let timeBinOrMass = 'mass';
        let maxTimeBin = 200000;
        let diffPlot = false;
        let selectMassMinMax = false;
        const massMin = $('#inputMassMin');
        const massMax = $('#inputMassMax');
        const inputBinning = $('#inputBinning');
        const scaleDataFile2 = $('#inputScaleFile2');
        const fileInfoBody1 = $('#fileInfoBody1');
        const fileInfoBody2 = $('#fileInfoBody2');
        const spinner = $('#loading');
        const tree1 = $('#tree1');
        const modalReadyLoading = $('#modal-ready-loading');

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });

        /********************
         * Creating traces
         *******************/
        $('#button-traces-counts').click(function () {
            $('#col-card-traces-counts').toggle();
        });

        function hideXkcd() {
            Cookies.set('hide-xkcd', "true");
            $('#detailModal').modal('hide');
        }

        $('#button-create-trace').click(function () {
            modalReadyLoading.text('');
            if (
                typeof parseFloat(massMin.val()) !== 'number' ||
                typeof parseFloat(massMax.val()) !== 'number'
            )
                alert('Set Mass min and max properly!');
            else if (massMin > massMax) {
                alert('Mass min is larger than Mass max!');
            } else {
                if (Cookies.get('hide-xkcd') !== "true") {
                    $('#detailModal').modal({show: true});
                    $('#detailModal .modal-body').load('{% url "surftof-preview-xkcd" %}');
                }
                let minMaxBin = getArrayIndex(
                    g.rawData_.map(function (value, index) {
                        return value[0];
                    }),
                    massMin.val(),
                    massMax.val()
                );
                $.post("{% url 'surftof-preview-trace' %}", {
                    massMin: minMaxBin.minIndex,
                    massMax: minMaxBin.maxIndex,
                    measurementId: dataIdFile1,
                }).done(function (data) {
                    modalReadyLoading.text('READY');
                    g.updateOptions({
                        'file': data.data,
                        'xlabel': 'time [s]'
                    });
                    g.resetZoom();
                }).fail(function () {
                    $.toast({
                        heading: 'Error',
                        text: 'Something went wrong',
                        showHideTransition: 'fade',
                        icon: 'warning'
                    })
                });
            }
        });

        function getArrayIndex(array, min, max) {
            let minIndex = null;
            let maxIndex = null;
            let binning = inputBinning.val();
            for (let i = 0; i < array.length; i++) {
                if (minIndex === null) {
                    if (array[i] >= min) {
                        minIndex = i * binning;
                    }
                } else if (array[i] <= max) {
                    maxIndex = i * binning;
                } else {
                    console.log(minIndex, maxIndex);
                    return {
                        minIndex: minIndex,
                        maxIndex: maxIndex
                    }
                }
            }
        }

        $('#button-download-plot').click(function () {
            exportToCsv('plot.csv', g.rawData_);
        });

        function getDataList() {
            $.getJSON("{% url 'surftof-preview-file-list' %}").done(function (data) {
                let treeContent = '<ul class="list-group">';
                data.forEach(function (times) {
                    treeContent += '<li class="list-group-item">' +
                        '<div class="row">' +
                        '<div class="col">' + times.name + '</div>' +
                        '<div class="col f1f2button">' +
                        '<div class="btn-group btn-block" role="group">' +
                        '    <button type="button" class="btn btn-secondary" onclick="setFileId(\'Y1\', ' + times.id + ')">Y1</button>' +
                        '    <button type="button" class="btn btn-secondary" onclick="setFileId(\'Y2\', ' + times.id + ')">Y2</button>' +
                        '</div></div></div></li>';
                });
                treeContent += '</ul>';
                tree1.html(treeContent);
                $('#tree1 a').click(function () {
                    dataIdFile1 = $(this).attr('data-id');
                    plot();
                });
            });
        }

        function exportToCsv(filename, rows) {
            let processRow = function (row) {
                let finalVal = '';
                for (let j = 0; j < row.length; j++) {
                    let innerValue = row[j] === null ? '' : row[j].toString();
                    if (row[j] instanceof Date) {
                        innerValue = row[j].toLocaleString();
                    }

                    let result = innerValue.replace(/"/g, '""');
                    if (result.search(/("|,|\n)/g) >= 0)
                        result = '"' + result + '"';
                    if (j > 0)
                        finalVal += ',';
                    finalVal += result;
                }
                return finalVal + '\n';
            };

            let csvFile = '';
            for (let i = 0; i < rows.length; i++) {
                csvFile += processRow(rows[i]);
            }

            let blob = new Blob([csvFile], {type: 'text/csv;charset=utf-8;'});
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(blob, filename);
            } else {
                let link = document.createElement("a");
                if (link.download !== undefined) { // feature detection
                    // Browsers that support HTML5 download attribute
                    let url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", filename);
                    link.style.visibility = 'hidden';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            }
        }

        getDataList();
        g = new Dygraph(
            document.getElementById("graphdiv"),  // containing div
            [[0, 0]],                             // data
            {                                     // options
                legend: 'always',
                ylabel: 'Counts per second',
                xlabel: 'mass / z',
                clickCallback: function (e, x, pts) {
                    if (selectMassMinMax === 'min') {
                        massMin.val(x);
                        massMin.removeClass('active-input');
                        massMax.addClass('active-input');
                        selectMassMinMax = 'max';
                    } else if (selectMassMinMax === 'max') {
                        massMax.val(x);
                        massMax.removeClass('active-input');
                        selectMassMinMax = false;
                    }
                },
            }
        );

        $('#setTracesMinMax').click(function () {
            selectMassMinMax = 'min';
            massMin.addClass('active-input');
        });

        function setFileId(variable, id) {
            if (variable === 'Y1') {
                dataIdFile1 = id;
            } else {
                dataIdFile2 = id;
                $('#col-card-file2-info').show('slow');
                $('.plot-indicator-green').show();
            }
            plot();
        }

        function plot() {
            spinner.show('slow');
            let binnedBy = parseInt(inputBinning.val());
            let url = "{% url 'surftof-preview-data' %}";
            $.post(url, {
                timeBinOrMass: timeBinOrMass,
                dataIdFile1: dataIdFile1,
                dataIdFile2: dataIdFile2,
                scaleDataFile2: parseFloat(scaleDataFile2.val()).toFixed(3),
                diffPlot: diffPlot,
                binnedBy: binnedBy,
                maxTimeBin: maxTimeBin
            }).done(function (data) {
                g.updateOptions({
                    'file': data.data,
                    'xlabel': data.xlabel,
                    'labels': data.labels
                });
                let urlJson1 = '{% url "surftof-preview-file-info" '00' %}'.replace('00', dataIdFile1);
                $.getJSON(urlJson1).done(function (data) {
                    fileInfoBody1.html(
                        buildHtmlForFileInfo(data));
                });
                if (dataIdFile2 != null) {
                    let urlJson2 = '{% url "surftof-preview-file-info" '00' %}'.replace('00', dataIdFile2);
                    $.getJSON(urlJson2).done(function (data) {
                        fileInfoBody2.html(
                            buildHtmlForFileInfo(data));
                    });
                }
            }).fail(function () {
                $.toast({
                    heading: 'Error',
                    text: 'Something went wrong',
                    showHideTransition: 'fade',
                    icon: 'warning'
                })
            }).always(function () {
                spinner.hide();
            });
        }

        function buildHtmlForFileInfo(data) {
            let content = '<table class="table">';
            data.forEach(function (row) {
                content += '<tr><td>' + row.key + '</td><td>' + row.value + '</td></tr>';
            });
            content += '</table>';
            return content;
        }

        $('#plot1File').click(function () {
            $(this).addClass('active');
            $('#plot2Files').removeClass('active');
            $('#plotDiff').removeClass('active');
            $('.plot-indicator-green').hide();
            dataIdFile2 = null;
            diffPlot = false;
            $('#col-card-file2-info').hide('slow');
            plot();
        });
        $('#plot2Files').click(function () {
            $(this).addClass('active');
            $('#plotDiff').removeClass('active');
            $('#plot1File').removeClass('active');
            $('.plot-indicator-green').show();
            diffPlot = false;
            $('#col-card-file2-info').show('slow');
            plot();
        });
        $('#plotDiff').click(function () {
            $(this).addClass('active');
            $('.plot-indicator-green').hide();
            $('#plot1File').removeClass('active');
            $('#plot2Files').removeClass('active');
            diffPlot = true;
            $('#col-card-file2-info').show('slow');
            plot();
        });

        $('#button-time-mass').click(function () {
            if (timeBinOrMass === 'timebin') timeBinOrMass = 'mass';
            else timeBinOrMass = 'timebin';
            plot();
        });

        $('#button-lin-log-plot').click(function () {
            if (g.getOption('logscale') === true) g.updateOptions({logscale: false});
            else g.updateOptions({logscale: true});
        });

        setInterval(function () {
            $('#modal-ready-loading').fadeIn(300).fadeOut(500);
        }, 1000);

        scaleDataFile2.change(function () {
            plot();
        });

        inputBinning.change(function () {
            plot();
        })
    </script>
{% endblock %}