{% load static %}

<div class="form-floating mb-1" style="display: none">
    <input type="text" class="form-control form-control-sm" id="inputSearchMeasurement" placeholder="Search...">
    <label for="inputSearchMeasurement">Search</label>
</div>
<div style="overflow-y: scroll; max-height: 800px" id="measurementsArea">
    <ul class="list-group" id="measurements">
        {% for measurement in page_obj %}
            <li class='list-group-item'>
                <div class="m-1 mt-2">
                    ID {{ measurement.id }} - {{ measurement.time }}<br>
                    {{ measurement.short_description }}
                </div>
                <button type='button' onclick='show({{ measurement.id }})'
                        class='btn btn-sm btn-outline-secondary m-1'>
                    Show
                </button>
                <button type='button' onclick='compare({{ measurement.id }})'
                        class='btn btn-sm btn-outline-secondary m-1'>
                    Compare
                </button>
                <button type='button' onclick='diff({{ measurement.id }})'
                        class='btn btn-sm btn-outline-secondary m-1'>
                    Diff
                </button>
                <a href='{{ admin_measurement_url }}{{ measurement.id }}/change/'
                   class='btn btn-sm btn-outline-secondary m-1'>Show
                    Measurement
                </a>
            </li>
        {% endfor %}
        <li class="px-5 py-3 list-group-item">Loading more ...</li>
    </ul>
</div>

<script src="{% static 'clusterize/clusterize.min.js' %}"></script>
<script>
  function filterRows(rows) {
    let results = [];
    for (let i = 0, ii = rows.length; i < ii; i++) {
      if (rows[i].active) results.push(rows[i].markup)
    }
    return results;
  }

  const search = $('#inputSearchMeasurement')

  $.getJSON("{{ mass_spectra_measurements_url }}", function (data) {
    let rows = [];
    for (let i = 0; i < data.length; i++) {
      rows.push(
        {% if custom_clusterize_row %}
          {{ custom_clusterize_row|safe }}
        {% else %}
          {
            values: `${data[i].id}${data[i].time}${data[i].t}`.toLowerCase(),
            markup: `<li class='list-group-item'><div class='m-1 mt-2'>ID ${data[i].id} - ${data[i].time}<br>${data[i].t}</div><button type='button' onclick='show(${data[i].id})'class='btn btn-sm btn-outline-secondary m-1'>Show</button><button type='button' onclick='compare(${data[i].id})'class='btn btn-sm btn-outline-secondary m-1'>Compare</button><button type='button' onclick='diff(${data[i].id})'class='btn btn-sm btn-outline-secondary m-1'>Diff</button><a href='{{admin_measurement_url}}${data[i].id}/change/'class='btn btn-sm btn-outline-secondary m-1'>ShowMeasurement</a></li>`,
            active: true
          }
        {% endif %}
      );
    }

    /* Init clusterize.js */
    const clusterize = new Clusterize({
      rows: filterRows(rows),
      scrollId: 'measurementsArea',
      contentId: 'measurements'
    });
    search.parent().show('slow');

    /* Attach listener to search input tag and filter list on change */
    search.on('input', function () {

      {#for (let i = 0, ii = rows.length; i < ii; i++) {#}
      {#  let suitable = false;#}
      {#  for (let j = 0, jj = rows[i].values.length; j < jj; j++) {#}
      {#    if (rows[i].values[j].toString().toLowerCase().indexOf(search.val().toLowerCase()) + 1)#}
      {#      suitable = true;#}
      {#  }#}
      {#  rows[i].active = suitable;#}
      {# }#}
      let s = search.val().toLowerCase();
      for (let i = 0, ii = rows.length; i < ii; i++) {
        rows[i].active = !!(rows[i].values.indexOf(s) + 1);
      }

      clusterize.update(filterRows(rows));
    });
  });
</script>
