<div class="col-lg-4 col-xl-3 col-md-5">
    <div class="card">
        <div class="card-header">Measurements
            <button type="button" class="btn btn-sm btn-outline-dark" onclick="location.reload();">reload
            </button>
        </div>
        <div class="card-body ids-body">
            <ul class="list-group" id="measurements">
                {% for measurement in page_obj %}
                    <li class="list-group-item">
                        ID {{ measurement.id }} - {{ measurement.time }}<br>
                        {{ measurement.short_description|safe }}<br>
                        <button type="button" onclick="show({{ measurement.id }})"
                                class="btn btn-sm btn-outline-secondary m-1">
                            Show
                        </button>
                        <button type="button" onclick="compare({{ measurement.id }})"
                                class="btn btn-sm btn-outline-secondary m-1">
                            Compare
                        </button>
                        <button type="button" onclick="diff({{ measurement.id }})"
                                class="btn btn-sm btn-outline-secondary m-1">
                            Diff
                        </button>
                        <a href="{{ admin_measurement_url }}{{ measurement.id }}/change/"
                           class="btn btn-sm btn-outline-secondary m-1">
                            Show Measurement
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if page_obj.has_next %}
                <a class="pagination__next pagination" href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </div>
    </div>
</div>