{% load static %}

<div class="form-floating mb-1">
    <input type="text" class="form-control form-control-sm" id="inputSearchMeasurement" placeholder="Search...">
    <label for="inputSearchMeasurement">Search</label>
</div>
<ul class="list-group" id="measurements"></ul>

<script src="{% static 'clusterize/clusterize.min.js' %}"></script>
<script>
  const rows = [{% for measurement in page_obj %}{
      values: ['{{ measurement.id }}', '{{ measurement.short_description }}'],
      markup: '<li class="list-group-item">' +
        'ID {{ measurement.id }} - {{ measurement.time }}<br>' +
        '{{ measurement.short_description|safe }}<br>' +
        '<button type="button" onclick="show({{ measurement.id }})"' +
        'class="btn btn-sm btn-outline-secondary m-1">' +
        'Show' +
        '</button>' +
        '<button type="button" onclick="compare({{ measurement.id }})"' +
        'class="btn btn-sm btn-outline-secondary m-1">' +
        'Compare' +
        '</button>' +
        '<button type="button" onclick="diff({{ measurement.id }})"' +
        'class="btn btn-sm btn-outline-secondary m-1">' +
        'Diff' +
        '</button>' +
        '<a href="{{ admin_measurement_url }}{{ measurement.id }}/change/"' +
        'class="btn btn-sm btn-outline-secondary m-1">' +
        'Show Measurement' +
        '</a>' +
        '</li>',
      active: true
      },{% endfor %}]

  function filterRows(rows) {
    var results = [];
    for (var i = 0, ii = rows.length; i < ii; i++) {
      if (rows[i].active) results.push(rows[i].markup)
    }
    return results;
  }

  /*
  * Init clusterize.js
  */
  const clusterize = new Clusterize({
    rows: filterRows(rows),
    scrollId: 'measurementsArea',
    contentId: 'measurements'
  });

  /*
  * Attach listener to search input tag and filter list on change
  */
  function onSearch() {
    for (let i = 0, ii = rows.length; i < ii; i++) {
      let suitable = false;
      for (let j = 0, jj = rows[i].values.length; j < jj; j++) {
        if (rows[i].values[j].toString().toLowerCase().indexOf(search.value.toString().toLowerCase()) + 1)
          suitable = true;
      }
      rows[i].active = suitable;
    }
    clusterize.update(filterRows(rows));
  }

  const search = document.getElementById('inputSearchMeasurement')
  search.oninput = onSearch;
</script>
