*.log
*.pot
*.pyc
/labbooks/settings_local.py
/mediaroot/
/static/
.matplotlib/
chemspider_token.txt
database*
.idea/
bin/
lib/
lib64/
lib64
nginx*
pip-selfcheck.json
db.sqlite3
surftof/cpm-export/
/.cache/
testfiles/
node_modules/
