*.log
*.pot
*.pyc
/mediaroot/
/media/
/static/
.matplotlib/
chemspider_token.txt
.idea/
bin/
lib/
lib64/
lib64
nginx*
pip-selfcheck.json
db.sqlite3
surftof/cpm-export/
/.cache/
testfiles/
venv/
/_vendor/
node_modules/
/package-lock.json
