username=c123456
password=password99
domain=UIBK

# store this file in /srv/labbooks/.smbcredentials

# Add the following line to the end of /etc/fstab
# //netshare.uibk.ac.at/nanobio /media/netshare cifs credentials=/srv/labbooks/.smbcredentials  0 0
