[Unit]
Description=The gunicorn sevice that runs the labbooks
After=network.target

[Service]
PIDFile=/run/labbooks/labbooks.pid
User=nginx
Group=nginx
WorkingDirectory=/var/opt/labbooks
ExecStart=/var/opt/labbooks/bin/gunicorn -b unix:/run/gunicorn/labbookssocket wsgi:application -w 2 --pid /run/labbooks/labbooks.pid -p /tmp/labbooks --log-file /var/log/gunicorn/labbooks.log --log-level error --timeout 180
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=no

[Install]
WantedBy=multi-user.target
