# place this file into /etc/systemd/system/

[Unit]
Description=The gunicorn sevice that runs the labbooks
After=network.target

[Service]
PIDFile=/run/labbooks/labbooks.pid
User=www-data
Group=www-data
WorkingDirectory=/var/opt/labbooks
RuntimeDirectory=labbooks
ExecStart=/var/opt/venv-labbooks/bin/gunicorn \
        -b unix:/run/labbooks/labbookssocket labbooks.wsgi:application \
        -w 2 \
        --pid /run/labbooks/labbooks.pid \
        -p /tmp/labbooks \
        --log-file /var/log/labbooks/labbooks.log \
        --log-level error \
        --timeout 180
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=no

[Install]
WantedBy=multi-user.target
