Django==3.2.14
gunicorn==20.1.0
mysqlclient==2.1.0 # install this with --no-cache-dir --upgrade
crispy-bootstrap5==0.6

# for surftof
djangorestframework==3.13.1

# for mass-spectra
scipy==1.8.1 # pip complains on server that a newer version does not exists
h5py==3.6.0 # v3 doesnt work on windows

# for journal
django-crispy-forms==1.14.0
django-ckeditor==6.4.1
matplotlib==3.5.2 # pip complains on server that a newer version does not exists

# for cheminventory
requests==2.27.1
openpyxl==3.0.10
periodictable==1.6.1
# fitlib==0.0.* # py -m pip install git+https://github.com/nano-bio/fitlib.git@package

# for snowball & surftof
numpy==1.22.4 # pip complains on server that a newer version does not exists

# for wippi
pytz==2022.1

# for nanoparticles
NSFopen==1.1.13
pandas==1.4.2

# for mscp importer
python-dateutil==2.8.2
molmass==2021.6.18
