{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Labbooks</a>
        -
        <a href="/clustof/">CLUSTOF</a>
        -
        <a href="{% url 'surftof-journal' %}">SURFTOF</a>
        -
        <a href="{% url 'toffy-journal' %}">TOFFY</a>
        {#        -#}
        {# <a href="{% url 'toffy2-journal' %}">TOFFY2</a> #}
        -
        <a href="/vg/">VG</a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
