{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}Labbook NanoBio</title>
    {% block extra_head %}{% endblock %}
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <style>nav a.active {
        font-weight: bolder
    }</style>
</head>

<body>

{# Main Navigation Bar #}
{% include 'navigation.html' %}

{% include 'includes/messages.html' %}

{% block content %}
    <h1>Block Content</h1>
{% endblock %}

<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
{# ADD active class to the currently active navigation tab and its parents #}
<script type="text/javascript">
  $(document).ready(function () {
    const url = window.location;
    const activeElement = $('nav a[href="' + url.pathname + '"]');
    activeElement.parent().parent().siblings().first().addClass('active');
    activeElement.addClass('active');
  });
</script>
{% block extra_js %}{% endblock %}

</body>
</html>