<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">Labbooks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {# CLUSTOF #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        CLUSTOF
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {#                        <li><a class="dropdown-item" href="{% url 'clustof-journal' %}">Journal</a></li>#}
                        {#                        <li><a class="dropdown-item" href="{% url 'clustof-mass-specs' %}">Mass Spectra</a></li>#}
                        <li><a class="dropdown-item" href="{% url 'admin:clustof_measurement_changelist' %}">Measurements</a>
                        </li>
                    </ul>
                </li>

                {# TOFFY #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        TOFFY
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {#                        <li><a class="dropdown-item" href="{% url 'toffy-journal' %}">Journal</a></li>#}
                        {#                        <li><a class="dropdown-item" href="{% url 'toffy-mass-specs' %}">Mass Spectra</a></li>#}
                        <li><a class="dropdown-item"
                               href="{% url 'admin:toffy_measurement_changelist' %}">Measurements</a></li>
                    </ul>
                </li>

                {# TOFFY2 #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        TOFFY2
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {#                        <li><a class="dropdown-item" href="{% url 'toffy2-journal' %}">Journal</a></li>#}
                        {#                        <li><a class="dropdown-item" href="{% url 'toffy2-mass-specs' %}">Mass Spectra</a></li>#}
                        <li><a class="dropdown-item"
                               href="{% url 'admin:toffy2_measurement_changelist' %}">Measurements</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'wippihome' %}">WIPPI</a></li>
                        <li><a class="dropdown-item" href="{% url 'wippihome' %}">WIPPI</a></li>
                        <li><a class="dropdown-item" href="{% url 'wippihome' %}">WIPPI</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'labinventory-temp' %}">Temperature Big Lab</a></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'admin:app_list' 'cheminventory' %}">
                                Chemical Inventory
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>