{% extends "vg/base.html" %}

{% block content %}
    <h2>Measurement No. {{ m.id }}</h2>
    <div class="general" id="info">Data was taken on {{ m.time }} with substance: {{ m.substance }}</div>
    <div style="height:400px">
        <div id="placeholder" style="float:left; width:800px;height:400px"></div>
        <div id="overview" style="float:right;width:250px; height:125px;"></div>
        <div style="float:right" id="conditions" class="general">
          <strong>Conditions:</strong><br />
          <table>
            <tr>
              <td><strong>Electron Energy</strong></td>
              <td>{{ m.electron_energy }}</td>
            </tr>
            <tr>
             <td><strong>Channeltron</strong></td>
             <td>{{ m.channeltron }}</td>
            </tr>
            <tr>
             <td><strong>Ionblock Temperature</strong></td>
             <td>{{ m.ionblock_temperature }}</td>
            </tr>
            <tr>
             <td><strong>Trap Current</strong></td>
             <td>{{ m.trap_current }}</td>
            </tr>
            <tr>
             <td><strong>Filament Current</strong></td>
             <td>{{ m.filament_current }}</td>
            </tr>
            <tr>
             <td><strong>Pressure Ionblock</strong></td>
             <td>{{ m.pressure_ionblock }}</td>
            </tr>
            <tr>
             <td><strong>Pressure Analyzer</strong></td>
             <td>{{ m.pressure_analyzer }}</td>
            </tr>
            <tr>
             <td><strong>Pressure Analyzer</strong></td>
             <td>{{ m.background_pressure }}</td>
            </tr>
          </table>
        </div>
    </div>
    <br />
    <div class="general">
      <div class="innerbox">
        <strong>General information for this measurement:</strong><br />
        <table>
          <tr>
           <td><strong>Operator</strong></td>
           <td>{{ m.operator.firstname }} {{ m.operator.lastname }}</td>
          </tr>
          <tr>
           <td><strong>Substance</strong></td>
           <td>{{ m.substance }}</td>
          </tr>
          <tr>
           <td><strong>Description</strong></td>
           <td>{{ m.description }}</td>
          </tr>
          <tr>
           <td><strong>Polarity</strong></td>
           <td>{{ m.polarity }}</td>
          </tr>
          <tr>
           <td><strong>Gate time</strong></td>
           <td>{{ m.gatetime }}</td>
          </tr>
        </table>
      </div>
      <div id="actionbox" class="innerbox">
        <strong>Actions:</strong><br />
        <a href="/admin/vg/measurement/{{ m.id }}">Edit / Delete log entry</a><br />
        {% if m.scantype == 'ES' %}
        <a href="/vg/view/{{ m.id }}/cal/">Apply energy calibration to this scan</a><br />
        {% endif %}
        <a href="{{ m.datafile.url }}">Download raw file</a><br />
        <a href="/vg/export/{{ m.id }}">Export original data</a><br />
      </div>
      <div id="fitbox" class="innerbox">
        <strong>Fits:</strong><br />
        <a href="../1" >Fit with 1 Gaussian</a><br />
        <a href="../2" >Fit with 2 Gaussians</a><br />
        <a href="../3" >Fit with 3 Gaussians</a><br />
        <a href="../4" >Fit with 4 Gaussians</a><br />
        <a href="../5" >Fit with 5 Gaussians</a><br />
      </div>
      <div id="peakbox" class="innerbox">
        <table>
          <tr>
            <td><strong>Peak Height</strong></td>
            <td><strong>Peak Position</strong></td>
            <td><strong>Peak Width</strong></td>
          </tr>
          {% for peak in m.peaks %}
          <tr>
            {% for value in peak %}
            <td>{{ value|floatformat:2 }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <br />
    <div class="general" id="lenses">
      <table>
        <tr>
          <td style="width:200px;"><strong>Lens:</strong></td>
          <td style="width:100px;"><strong>Value:</strong></td>
          <td style="width:200px;"><strong>Lens:</strong></td>
          <td style="width:100px;"><strong>Value:</strong></td>
        </tr>
        <tr>
          <td><strong>Ion Repeller</strong></td>
          <td>{{ m.ion_repeller }}</td>
          <td><strong>Focus Coarse 1</strong></td>
          <td>{{ m.focus_coarse_1 }}</td>
        </tr>
        <tr>
          <td><strong>Focus Coarse 2</strong></td>
          <td>{{ m.focus_coarse_2 }}</td>
          <td><strong>Focus Fine 1</strong></td>
          <td>{{ m.focus_fine_1 }}</td>
        </tr>
        <tr>
          <td><strong>Focus Fine 2</strong></td>
          <td>{{ m.focus_fine_2 }}</td>
          <td><strong>Deflector 1</strong></td>
          <td>{{ m.deflector_1 }}</td>
        </tr>
        <tr>
          <td><strong>Deflector 2</strong></td>
          <td>{{ m.deflector_2 }}</td>
          <td><strong>Ion Energy</strong></td>
          <td>{{ m.ion_energy }}</td>
        </tr>
        <tr>
          <td><strong>Y-Focus</strong></td>
          <td>{{ m.y_focus }}</td>
          <td><strong>X-Deflect</strong></td>
          <td>{{ m.x_deflect }}</td>
        </tr>
        <tr>
          <td><strong>Z-Deflect</strong></td>
          <td>{{ m.z_deflect }}</td>
          <td><strong>Curve 1</strong></td>
          <td>{{ m.curve_1 }}</td>
        </tr>
        <tr>
          <td><strong>Rotate 1</strong></td>
          <td>{{ m.rotate_1 }}</td>
          <td><strong>Z-Deflect 1</strong></td>
          <td>{{ m.z_deflect_1 }}</td>
        </tr>
        <tr>
          <td><strong>Z-Focus 1</strong></td>
          <td>{{ m.z_focus_1 }}</td>
          <td><strong>Curve 2</strong></td>
          <td>{{ m.curve_2 }}</td>
        </tr>
        <tr>
          <td><strong>Rotate 2</strong></td>
          <td>{{ m.rotate_2 }}</td>
          <td><strong>Z-Deflect 2</strong></td>
          <td>{{ m.z_deflect_2 }}</td>
        </tr>
        <tr>
          <td><strong>Z-Focus 2</strong></td>
          <td>{{ m.z_focus_2 }}</td>
          <td><strong>Comments</strong></td>
          <td>{{ m.comments }}</td>
        </tr>
      </table> 
    </div>
<script src="http://ideadb.uibk.ac.at/files/js/plot.js"></script>
<script>
do_plots([{{ m.data }}], [{{ m.fitteddata }}], "{{ m.substance }}");
</script>
{% endblock %}
