<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        TOFFY
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'toffy-journal' %}">Journal</a></li>
{#        <li><a class="dropdown-item" href="{% url 'toffy-mass-specs' %}">Mass Spectra</a></li>#}
        <li><a class="dropdown-item" href="{% url 'admin:toffy_measurement_changelist' %}">Measurements</a></li>
    </ul>
</li>