<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Toffy
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a class="dropdown-item" href="{% url "toffy-journal" %}">Journal</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url "toffy-mass-spectra" %}">Mass Specs</a>
        </li>

        <li class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item" href="{% url "toffy-pressures" %}">Pressures</a>
        </li>

        <li class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item" href="{% url 'admin:toffy_measurement_changelist' %}">Admin: Measurements</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'admin:app_list' 'toffy' %}">Admin: Toffy</a>
        </li>
    </ul>
</li>