body {
background-color:#FFF;
color:#333;
font-family:verdana, arial, helvetica, sans-serif;
margin:0;
padding:0;
}

h1 {
color:#ccc;
font-size:28px;
font-weight:900;
line-height:28px;
margin:0 0 15px;
padding:0;
}

p {
font:11px/20px verdana, arial, helvetica, sans-serif;
margin:0 0 16px;
padding:0;
}

#Content>p {
margin:0;
}

#Content>p+p {
text-indent:30px;
}

a {
color:#09c;
font-family:verdana, arial, helvetica, sans-serif;
font-size:11px;
font-weight:600;
text-decoration:none;
}

a:link {
color:#09c;
}

a:visited {
color:#07a;
}

a:hover {
background-color:#eee;
}

#Header {
background-color:#eee;
border-color:#000;
border-style:solid;
border-width:1px 0;
height:14px;
line-height:11px;
margin:33px 0 10px;
padding:17px 0 0 20px;
voice-family:inherit;
}

body>#Header {
height:14px;
}

#Content {
margin:0 50px 50px 200px;
padding:10px;
}

.innerbox {
background-color:#FFC;
border:1px dashed #999;
float:left;
margin-right:10px;
padding:10px;
}

.general {
background-color:#FFC;
border:1px dashed #999;
overflow:hidden;
padding:10px;
}

.wrapper {
background-color:#CCFFE6;
border:1px dashed #999;
margin:10px;
overflow:hidden;
padding:10px;
}

.floater {
background-color:#FFC;
border:1px dashed #999;
float:left;
margin:10px 10px 10px 0;
padding:10px;
}

#info {
margin:0 10px 20px 0;
}

#Menu {
background-color:#eee;
border:1px dashed #999;
left:20px;
line-height:17px;
padding:10px;
position:absolute;
top:100px;
voice-family:inherit;
width:150px;
}

body>#Menu {
width:150px;
}

#source,#compare {
margin:10px 10px 10px 0;
}
