{% extends 'admin/change_list_object_tools.html' %}

{% block object-tools-items %}
    <li>
        {# Using form tag to open link with post-method #}
        <form id="form-id" method="post" action="{% url 'export-csv-files' %}">
            {% csrf_token %}
            {# cruel markup to inherit django css rules #}
            <a href="#" onclick="document.getElementById('form-id').submit();">
                Recreate .csv-Exports
            </a>
        </form>
    </li>
    {{ block.super }}

{% endblock %}