{% load image_urls %}

<div class="card mb-3">
    <div class="card-header d-flex">
        <div class="me-auto">{{ experiment }}</div>
        <div>{{ entry.time }}</div>
    </div>
    <div class="row g-0">
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">{{ entry.title }}</h5>
                {% if entry.comment %}
                    <p class="card-text">{{ entry.comment|safe }}</p>
                {% endif %}
                {% if entry.file %}
                    <a href="{{ entry.file.url }}" target="_blank">Download File</a>
                {% endif %}
            </div>
        </div>

        {% get_image_urls entry as image_urls %}
        {% if image_urls %}
            <div class="col-md-4 col-lg-5">
                {% include 'journal/journal_card_carousel.html' %}
            </div>
        {% endif %}
    </div>
    {% if not hide_buttons %}
        <div class="card-footer">
            {% if entry.measurement %}
                <a href="#" class="btn btn-outline-success btn-sm">
                    <i class="bi bi-graph-up"></i>
                    Show Mass Spec
                </a>
                <a href="{{ admin_measurement_url }}{{ entry.id }}/change/" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-eye"></i>
                    Show related Measurement
                </a>
            {% endif %}
            <a href="{{ journal_change_url }}{{ entry.id }}/" class="btn btn-outline-secondary btn-sm"><i
                class="bi bi-pencil"></i>
                Edit Journal</a>
            <a href="{{ journal_delete_url }}{{ entry.id }}/delete/" class="btn btn-outline-danger btn-sm"><i
                class="bi bi-trash"></i> Delete Journal</a>
        </div>
    {% endif %}
</div>