<div id="carousel{{ entry.id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for image in image_urls %}
            <button
                type="button" data-bs-target="#carousel{{ entry.id }}" data-bs-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}class="active"{% endif %}
                {% if forloop.first %} aria-current="true"{% endif %}
                aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for image_url in image_urls %}
            <div class="d-flex carousel-item{% if forloop.first %} active{% endif %}"
                 style="background-image: url('{{ image_url }}');">
                <a class="simpleLightbox m-auto" href="{{ image_url }}">
                    <i class="bi bi-arrows-fullscreen zoom-in-image"></i>
                </a>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ entry.id }}"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ entry.id }}"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>