<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <h5>Journal mass spec previews</h5>
                    <div class="form-group row">
                        <label for="previewMassMax" class="col-sm-5 col-form-label">Mass max</label>
                        <div class="col">
                            <input id="previewMassMax" class="form-control settingsValue" type="number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="previewWidth" class="col-sm-5 col-form-label">Preview width</label>
                        <div class="col">
                            <input id="previewWidth" class="form-control settingsValue" type="number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="previewHeight" class="col-sm-5 col-form-label">Preview height</label>
                        <div class="col">
                            <input id="previewHeight" class="form-control settingsValue" type="number">
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input settingsValueCheckbox" type="checkbox" value="" id="previewShowMassAxis">
                        <label class="form-check-label" for="previewShowMassAxis">
                            Show mass-axis
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input settingsValueCheckbox" type="checkbox" value="" id="previewShowLog">
                        <label class="form-check-label" for="previewShowLog">
                            Log y-axis
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="location.reload()">Save and reload page
                </button>
            </div>
        </div>
    </div>
</div>