<div class="mb-4 d-flex flex-row align-items-center">
    <div class="card">
        <div class="card-header">
            <span class="mr-2 float-left">
                <a href="{% url 'surftof-journal-entry-update' entry.e.id %}">
                    <i class="fas fa-edit"></i>
                </a>
            </span>

            <span>ID {{ entry.e.id }}: {{ entry.e.short_description }}</span>

            <span class="ml-2 float-right">
                <a href="{% url 'surftof-journal-entry-delete' entry.e.id %}"
                   onclick="return deleteItem({{ entry.e.id }})"
                ><i class="fas fa-trash"></i></a>
            </span>
        </div>
        <div class="card-body pb-1">

            {% if entry.e.image %}
                <a class="simpleLightbox float-right" href="{{ entry.e.image.url }}">
                    <img src="{{ entry.e.image.url }}" class="img-thumbnail mb-2 ml-2 img-fluid">
                </a>
            {% endif %}

            {% if entry.e.comment %}{{ entry.e.comment|safe }}{% endif %}
        </div>
    </div>
    <div
        class="px-3">{{ entry.e.time }}<br>
    </div>
</div>