<div class="mb-4 d-flex flex-row-reverse align-items-center">
    <div class="card">
        <div class="card-header">
            ID {{ entry.e.id }}: {{ entry.e.short_description }}

            <span class="mr-2 float-left">
                <a href="{% url 'surftof-measurement-update' entry.e.id %}">
                    <i class="fas fa-edit"></i>
                </a>
            </span>
            <span class="ml-2 float-right">
                <a href="{% url 'surftof-measurement-delete' entry.e.id %}"
                   onclick="return deleteItem({{ entry.e.id }})">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
        </div>
        <div class="card-body pb-1">
            <div class="text-right">
                <a href="{% url 'surftof-preview' %}?id={{ entry.e.id }}">
                    <img src="{% url 'surftof-mass-spec-preview-image'  entry.e.id %}"
                         class="img-thumbnail float-right mb-2 ml-2">
                </a>
            </div>

            {% if entry.e.gas %}
                <p> Gas: {{ entry.e.gas }}
                    {% if entry.e.gas_pressure %}
                        @ {{ entry.e.gas_pressure|stringformat:".1e" }} mbar
                    {% endif %}
                </p>
            {% endif %}

            {% if entry.e.electron_impact_energy %}
                <p>Ionization energy: {{ entry.e.electron_impact_energy }} eV</p>
            {% endif %}

            {% if entry.e.comment %}{{ entry.e.comment|safe }}{% endif %}
        </div>
    </div>
    <div
        class="px-3 text-right">{{ entry.e.time }}<br>
    </div>
</div>