{% extends "base.html" %}

{% block content %}
    <h2>Measurement No. {{ m.id }} calibrated with Calibration No. {{ c.id }}</h2>
    <div class="general" id="info">Data was taken on {{ m.time }} with substance: {{ m.substance }}</div>
    <div class="general" id="info">Calibration was created on {{ c.time }}</div>
    <div id="placeholder" style="width:800px;height:400px"></div>
    <br />
    <div id="general" class="general">
      <strong>General information for this measurement:</strong><br />
      <table>
        <tr>
         <td><strong>Operator</strong></td>
         <td>{{ m.operator.firstname }} {{ m.operator.lastname }}</td>
        </tr>
        <tr>
         <td><strong>Substance</strong></td>
         <td>{{ m.substance }}</td>
        </tr>
        <tr>
         <td><strong>Description</strong></td>
         <td>{{ m.description }}</td>
        </tr>
        <tr>
         <td><strong>Polarity</strong></td>
         <td>{{ m.polarity }}</td>
        </tr>
      </table>
    </div>
    <br />
    <div id="actionbox" class="general">
      <a href="/admin/vg/measurement/{{ m.id }}">Edit / Delete log entry</a><br />
      <a href="../../../{{ m.id }}">Show uncalibrated scan</a><br />
      <a href="{{ m.datafile.url }}">Download raw file</a><br />
      <a href="../../../../export/{{ m.id }}">Export original data</a><br />
      <a href="../../calexport/{{ c.id }}">Export calibrated data</a><br />
    </div>
    <br />
    <div id="conditions" class="general">
      <strong>Conditions:</strong><br />
      <table>
        <tr>
         <td><strong>Electron Energy</strong></td>
         <td>{{ m.electron_energy }}</td>
        </tr>
        <tr>
         <td><strong>Channeltron</strong></td>
         <td>{{ m.channeltron }}</td>
        </tr>
        <tr>
         <td><strong>Ionblock Temperature</strong></td>
         <td>{{ m.ionblock_temperature }}</td>
        </tr>
        <tr>
         <td><strong>Trap Current</strong></td>
         <td>{{ m.trap_current }}</td>
        </tr>
        <tr>
         <td><strong>Filament Current</strong></td>
         <td>{{ m.filament_current }}</td>
        </tr>
        <tr>
         <td><strong>Pressure Ionblock</strong></td>
         <td>{{ m.pressure_ionblock }}</td>
        </tr>
        <tr>
         <td><strong>Pressure Analyzer</strong></td>
         <td>{{ m.pressure_analyzer }}</td>
        </tr>
        <tr>
         <td><strong>Background Pressure</strong></td>
         <td>{{ m.background_pressure }}</td>
        </tr>
      </table>
    </div>
    <br />
    <div class="general" id="lenses">
      <table>
        <tr>
          <td><strong>Ion Repeller</strong></td>
          <td>{{ m.ion_repeller }}</td>
        </tr>
        <tr>
          <td><strong>Focus Coarse 1</strong></td>
          <td>{{ m.focus_coarse_1 }}</td>
        </tr>
        <tr>
          <td><strong>Focus Coarse 2</strong></td>
          <td>{{ m.focus_coarse_2 }}</td>
        </tr>
        <tr>
          <td><strong>Focus Fine 1</strong></td>
          <td>{{ m.focus_fine_1 }}</td>
        </tr>
        <tr>
          <td><strong>Focus Fine 2</strong></td>
          <td>{{ m.focus_fine_2 }}</td>
        </tr>
        <tr>
          <td><strong>Deflector 1</strong></td>
          <td>{{ m.deflector_1 }}</td>
        </tr>
        <tr>
          <td><strong>Deflector 2</strong></td>
          <td>{{ m.deflector_2 }}</td>
        </tr>
        <tr>
          <td><strong>Ion Energy</strong></td>
          <td>{{ m.ion_energy }}</td>
        </tr>
        <tr>
          <td><strong>Y-Focus</strong></td>
          <td>{{ m.y_focus }}</td>
        </tr>
        <tr>
          <td><strong>X-Deflect</strong></td>
          <td>{{ m.x_deflect }}</td>
        </tr>
        <tr>
          <td><strong>Z-Deflect</strong></td>
          <td>{{ m.z_deflect }}</td>
        </tr>
        <tr>
          <td><strong>Curve 1</strong></td>
          <td>{{ m.curve_1 }}</td>
        </tr>
        <tr>
          <td><strong>Rotate 1</strong></td>
          <td>{{ m.rotate_1 }}</td>
        </tr>
        <tr>
          <td><strong>Z-Deflect 1</strong></td>
          <td>{{ m.z_deflect_1 }}</td>
        </tr>
        <tr>
          <td><strong>Z-Focus 1</strong></td>
          <td>{{ m.z_focus_1 }}</td>
        </tr>
        <tr>
          <td><strong>Curve 2</strong></td>
          <td>{{ m.curve_2 }}</td>
        </tr>
        <tr>
          <td><strong>Rotate 2</strong></td>
          <td>{{ m.rotate_2 }}</td>
        </tr>
        <tr>
          <td><strong>Z-Deflect 2</strong></td>
          <td>{{ m.z_deflect_2 }}</td>
        </tr>
        <tr>
          <td><strong>Z-Focus 2</strong></td>
          <td>{{ m.z_focus_2 }}</td>
        </tr>
        <tr>
          <td><strong>Comments</strong></td>
          <td>{{ m.comments }}</td>
        </tr>
      </table> 
    </div>

<script type="text/javascript">
$(function () {
    var d2 = [{{ m.data }}];
    plot = $.plot($("#placeholder"), [{ label: "{{ m.substance }}-: 00.00 eV / 00.00",  data: d2, color: "blue"}], {legend: {margin : [15,15]}, crosshair: { mode: "xy" }, grid: { hoverable: true, autoHighlight: false }});

    var legends = $("#placeholder .legendLabel");
    legends.each(function () {
        // fix the widths so they don't jump around
        $(this).css('width', $(this).width());
    });

    var updateLegendTimeout = null;
    var latestPosition = null;
    
    function updateLegend() {
        updateLegendTimeout = null;
        
        var pos = latestPosition;
        
        var axes = plot.getAxes();
        if (pos.x < axes.xaxis.min || pos.x > axes.xaxis.max ||
            pos.y < axes.yaxis.min || pos.y > axes.yaxis.max)
            return;

        var i, j, dataset = plot.getData();
        for (i = 0; i < dataset.length; ++i) {
            var series = dataset[i];

            // find the nearest points, x-wise
            for (j = 0; j < series.data.length; ++j)
                if (series.data[j][0] > pos.x)
                    break;
            
            // now interpolate
            var x, p1 = series.data[j - 1], p2 = series.data[j];
            if (p1 == null)
                x = p2[0];
            else if (p2 == null)
                x = p1[0];
            else
                x = p1[0] + (p2[0] - p1[0]) * (pos.x - p1[0]) / (p2[0] - p1[0]);

            // find the nearest points, y-wise
            for (j = 0; j < series.data.length; ++j)
                if (series.data[j][0] > pos.y)
                    break;

            // now interpolate
            var y, p1 = series.data[j - 1], p2 = series.data[j];
            if (p1 == null)
                y = p2[0];
            else if (p2 == null)
                y = p1[0];
            else
                y = p1[0] + (p2[0] - p1[0]) * (pos.y - p1[0]) / (p2[0] - p1[0]);


            legends.eq(i).text(series.label.replace(/:.*/, ": " + x.toFixed(2) + " eV / " + y.toFixed(2)));
        }
    }
    
    $("#placeholder").bind("plothover",  function (event, pos, item) {
        latestPosition = pos;
        if (!updateLegendTimeout)
            updateLegendTimeout = setTimeout(updateLegend, 50);
    });

});
</script>

{% endblock %}
