{% extends 'base.html' %}
{% load static verbose_name %}

{% block title %}NanoParticles - {% endblock %}

{% block content %}
    {% if object_list %}
        <div class="container-fluid pt-4 pb-5">
            <div class="row">

                <div class="col-12 col-lg-6 col-xxl-7 mb-4">
                    {# MEASUREMENT LIST #}
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <tr>
                                <th class="ps-3"><i class="bi bi-eye"></i></th>
                                {% for field_name in fields %}
                                    <th class="{{ field_name }}">{% get_verbose_field_name object_list.0 field_name %}</th>
                                {% endfor %}
                            </tr>
                            {% for row in object_list %}
                                <tr>
                                    <td
                                        {% if not row.nid_file %}
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="right"
                                            title="No .nid file uploaded!"
                                        {% endif %}
                                    >
                                        <button
                                            class="btn btn-outline-primary"
                                            onclick="show({{ row.id }})"
                                            {% if not row.nid_file %}disabled{% endif %}
                                        >
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </td>
                                    {% for field_name in fields %}
                                        {% if row|get_from_key:field_name == None %}
                                            <td class="{{ field_name }}"></td>
                                        {% else %}
                                            <td class="{{ field_name }}">{{ row|get_from_key:field_name }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="d-flex justify-content-evenly mt-3">
                        {% include 'includes/pagination.html' %}
                        {# OPEN SETTINGS MODAL #}
                        <button
                            class="btn btn-outline-primary float-right" type="button" data-bs-toggle="modal"
                            data-bs-target="#modalSettingsFileInfo">
                            <i class="bi bi-gear"></i>
                        </button>
                    </div>
                </div>

                {# SETTINGS AND PREVIEW #}
                <div class="col-12 col-lg-6 col-xxl-5" style="max-width: 750px">
                    {% include 'nanoparticles/viewer_settings.html' %}

                    <img id="image" class="img-thumbnail mt-4 img-fluid"
                         src="{% get_media_prefix %}nanoparticles/{{ object_list.0.id }}-Forward-Z-Axis.png"
                         alt="preview">
                    <div id="viewer3d" class="d-none"></div>
                </div>
            </div>
        </div>

        {% include 'nanoparticles/viewer_modal.html' %}
    {% else %}
        <h1 class="mt-5 text-center">Oh, nothing here :-(</h1>
        <h3 class="mt-5 text-center">
            Let's <a href="{% url 'admin:nanoparticles_measurement_changelist' %}">add</a> something
        </h3>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'plotly/plotly-2.6.3.min.js' %}"></script>
    <script>
      $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
      });

      const image = $('#image');
      const viewer3d = document.getElementById("viewer3d");

      let measurementId = {{ object_list.0.id }};
      let imageUrl = "{% get_media_prefix %}nanoparticles/id-direction-type.png";

      function show(id) {
        measurementId = id;
        reloadPreview();
      }

      function reloadPreview() {
        let direction = $('input[name=btnradio-direction]:checked').val()
        let type = $('input[name=btnradio-type]:checked').val()
        let dimension = $('input[name=btnradio-dimension]:checked').val()
        let smoothing = $('input[name=btnradio-smoothing]:checked').val()

        if (dimension === '2d') {
          viewer3d.classList.add("d-none")
          image.show()
          setImageSrc(direction, type)
          $('#smoothing-col').hide()
        } else {
          image.hide()
          viewer3d.classList.remove("d-none")
          $('#smoothing-col').show()
          update3dViewer(direction, type, smoothing)
        }
      }

      function setImageSrc(direction, type) {
        image.attr(
          "src",
          imageUrl
            .replace('id', measurementId.toString())
            .replace('direction', direction)
            .replace('type', type)
        );
      }

      $(":input").click(reloadPreview)

      function update3dViewer(direction, type, smoothing) {
        $.getJSON(
          "{% url 'nanoparticles-image-data' 1 'direction' 'type' 2 %}"
            .replace('1', measurementId.toString())
            .replace('direction', direction)
            .replace('type', type)
            .replace('2', smoothing), function ({data}) {

            let size = viewer3d.offsetWidth;

            const layout = {
              autosize: true,
              width: size,
              height: size,
              boxmode: 'group',
              hovermode: false,
              margin: {
                l: 65,
                r: 50,
                b: 65,
                t: 90,
              },
              scene: {
                xaxis_nticks: 20,
                zaxis_nticks: 4,
                camera_eye: {x: 0, y: -1, z: 0.5},
                aspectratio: {x: 1, y: 1, z: 0.2}
              }
            };

            Plotly.react(viewer3d, [{
              z: data,
              type: 'surface',
              contours: {
                x: {highlight: false},
                y: {highlight: false},
                z: {highlight: false}
              },
            }], layout);
          }
        )
      }
    </script>

    <script src="{% static 'js.cookie/js.cookie.min.js' %}"></script>
    <script src="{% static 'jquery.deparam/jquery-deparam.js' %}"></script>
    <script>
      const cookieName = 'nanoparticlesFileInfoValues';
      let switchStates = {};
      $(function () {
        switchStates = deparam(Cookies.get(cookieName));

        {# On initial set all input switches from cookie and hide all corresponding File Info Values #}
        $.each(switchStates, function (key, value) {
          $("#flexSwitchCheck" + key).prop('checked', value === 'true');
          $('.' + key).toggle(value === 'true');
        });
      });
      {# When a switch is clicked, Cookie gets updated and File Info Value toggled #}
      $('#toggle-values :checkbox').change(function () {
        $('.' + $(this).attr('name')).toggle($(this).is(":checked"));
        switchStates[$(this).attr('name')] = $(this).is(":checked")
        Cookies.set(cookieName, $.param(switchStates));
      });
    </script>

{% endblock %}

{% block extra_head %}
    <style>
        ul.pagination {
            margin-top: 0;
            margin-bottom: 0
        }
    </style>
{% endblock %}
