{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>VG Labbook</title>
    {% include "jscss.html" %}
</head>

<body>
<div id="Header">VG Labbook</div>
<div id="Menu">
    {% block sidebar %}
        <ul>
            <li><a href="/vg/">Home</a></li>
            <li><a href="/admin/vg/">Admin</a></li>
            <li><a href="/vg/view/">Measurements</a></li>
            <li><a href="/vg/cal/">Calibrations</a></li>
            <li><a href="/vg/journal/">Technical Journal</a></li>
            <li><a href="/vg/insight/">Insights</a></li>
            <li><a href="/vg/pumps/">Turbopumps</a></li>
        </ul>
    {% endblock %}
</div>

<div id="Content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
