{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Labbook</title>
    <script type="text/javascript" src="{% static 'js/flot/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flot/jquery.flot.crosshair.js' %}"></script>
</head>

<body>
<div id="Header">{{ flatpage.title }}</div>
<div id="Menu">
    {% block sidebar %}
        <ul>
            <li><a href="{% url 'clustof-home' %}">CLUSTOF</a></li>
            <li><a href="{% url 'surftof-base-template' %}">SURFTOF</a></li>
            <li><a href="{% url 'vghome' %}vg/">VG</a></li>
            <li><a href="{% url 'wippihome' %}wippi/">WIPPI</a></li>
            <li><a href="{% url 'snowball-home' %}snowball/">SNOWBALL</a></li>
            <li><a href="{% url 'admin:toffy_measurement_changelist' %}">TOFFY: Admin</a></li>
            <li><a href="{% url 'toffy-preview' %}">TOFFY: Preview</a></li>
            <li><a href="{% url 'admin:toffy2_measurement_changelist' %}">TOFFY2: Admin</a></li>
            <li><a href="{% url 'toffy2-preview' %}">TOFFY2: Preview</a></li>
            <li><a href="{% url 'admin:app_list' 'cheminventory' %}">CHEMICAL INVENTORY</a></li>
            <li><a href="{% url 'admin:app_list' 'pulsetube' %}">PULSE TUBE</a></li>
            <li><a href="{% url "labinventory-temp" %}">Temperature</a></li>
            <li><a href="{% url "admin:index" %}">Admin</a></li>
        </ul>
    {% endblock %}
</div>

<div id="Content">
    {{ flatpage.content }}
</div>
</body>
</html>

