<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://ideadb.uibk.ac.at/files/css/style.css" />
    <title>CLUSTOF Labbook</title>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/jquery.flot.crosshair.js"></script>
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/jquery.flot.navigate.js"></script>
    <script language="javascript" type="text/javascript" src="http://ideadb.uibk.ac.at/files/js/flot/jquery.flot.time.js"></script>
</head>

<body>
    <div id="Header">CLUSTOF Labbook</div>
    <div id="Menu">
        {% block sidebar %}
        <ul>
            <li><a href="/clustof/">Home</a></li>
            <li><a href="/admin/clustof/">Admin</a></li>
            <li><a href="/clustof/view/">Measurements</a></li>
            <li><a href="/clustof/newmeasurement/">New Measurement</a></li>
            <li><a href="/clustof/insight/">Insights</a></li>
            <li><a href="/clustof/journal/">Technical Journal</a></li>
            <li><a href="/clustof/pumps/">Turbopumps</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="Content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
